
<div id='track' class='hidden'>
  <% if user_signed_in? %>
    <%= form_tag("/create", method: "post", id: "new-tracking") do %>
      <%= text_field_tag(:q) %>
      <%= submit_tag("Create", id: 'create-btn') %>
      <span id="spnTrNrStatus"></span>
    <% end %>
  <% else %>
    <%= form_tag("/showinfo", method: "get", id: "without-signin") do %>
      <%= text_field_tag(:q) %>
      <%= submit_tag("Create", id: 'create-btn') %>
      <span id="spnTrNrStatus"></span>
    <% end %>
  <% end %>
</div>