<%= render 'menu' %>


<div>
  <div id='map'></div>
  <div id='items'>

    <div id='item-menu'>
      <ul>
        <li>All</li>
        <li>Delivered</li>
        <li>In Transit</li>
      </ul>
    </div>

    <% @items.each do |i| %>
      <div class='item'>
        <% lu = Detail.find_by_item_id(i.id) %>
        <% if !lu.nil? %>
          <p data-lat=<%= lu.latitude %>
             data-lng=<%= lu.longitude %>
             data-address=<%= lu.tracking_detail.split(',')[-2..-1].join() %>
             data-delivered=<%= i.status %>>
        <% end %>
            <%= i.tracking_id %>
          </p>
        <span> <%= i.tracking_summary %></span>

        <div class='hidden-data'>
          <% hidden_details = (Detail.where('item_id' => i.id)).reverse %>
          <% hidden_details.each do |d| %>
            <p data-lat="<%= d.latitude %>"
               data-lng="<%= d.longitude %>"
               data-address="<%= d.tracking_detail.split(',')[-2..-1].join() %>">
            </p>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
</div>