<div>
  <h3>Map</h3>
  <div id='map'></div>
  <div id='items'>
    <% @items.each do |i| %>
      <div class='item'>
        <% lu = Detail.find_by_item_id(i.id) %>
        <p data-lat=<%= lu.latitude %>
           data-lng=<%= lu.longitude %>
           data-address=<%= lu.tracking_detail.split(',')[-2..-1].join() %>
        <% if (i.tracking_summary.include?('delivered')) %>
             data-delivered='Delivered'
        <% else %>
             data-delivered='In Transit'
        <% end %>>
        <%= i.tracking_id %>
        </p>
        <span> <%= i.tracking_summary %></span>

        <div class='hidden-data'>
          <% hidden_details = Detail.where(i.id) %>
          <% binding.pry %>
          <% hidden_details.each do |d| %>
            <p data-lat="<%= d.latitude %>"
               data-lng="<%= d.longitude %>"
               data-address="<%= d.tracking_detail.split(',')[-2..-1].join() %>">
            </p>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
</div>